{% extends "base.html" %}
{% load staticfiles %}

{% block styling %}
    {{ block.super }}
{% endblock styling %}

{% block content %}
    <article>
        <h1>Акции</h1>
        <p><a href="http://htmleditor.in/index.html">wysiwyg</a></p>
        <section>
            <h2>header</h2>
            <p>content</p>
        </section>
    </article>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}