{% extends "base.html" %}
{% load staticfiles %}

{% block styling %}
    {{ block.super }}
{% endblock styling %}

{% block content %}

<div class="contacts_wrapper">
    <h2 class="contacts-title">
        <span>Контакты</span>
    </h2>
	<div class="contacts_info">
        <table cellspacing="0" border="0" rules="NONE" frame="VOID">
            <colgroup>
                <col width="150">
                <col width="430">
            </colgroup>
            <tbody>
                <tr>
                    <td width="150" height="12" align="LEFT">
                        <p>
                            <strong>Адрес:</strong></p>
                    </td>
                    <td width="430" align="LEFT">
                        <p>
                            Тула, ул. Степанова, д.38 оф.2</p>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP" height="12" align="LEFT">
                        <p>
                            <strong>Телефон:</strong></p>
                    </td>
                    <td align="LEFT">
                        <p>8 (4872) 79-32-01</p>
                    </td>
                </tr>
                <tr>
                    <td height="12" align="LEFT">
                        <p>
                            <strong>Время работы:</strong></p>
                    </td>
                    <td align="LEFT">
                        Ежедневно с 10 до 20 часов.</td>
                </tr>
                <tr>
                    <td height="12" align="LEFT">
                        <p>
                            <strong>Email:</strong></p>
                    </td>
                    <td align="LEFT">
                        <p>
                            <a href="mailto:info@godzila71.ru ">info@godzila71.ru</a></p>
                    </td>
                </tr>
                <tr>
                    <td height="12" align="LEFT">
                        <p>
                            <strong>Мы в контакте:</strong></p>
                    </td>
                    <td align="LEFT">
                        <p>
                            <a target="new" href="http://vk.com/godzila71">http://vk.com/godzila71</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="contacts_map">
        <script src="http://api-maps.yandex.ru/1.1/?key=AFfkCE8BAAAANeO3MQIA_JOTiSxmmAvSFY_vVRlwY-zCWCEAAAAAAAAAAAB_FTew1pYdJQ9fenqTMEq0tn1H8A==&modules=pmap&wizard=constructor" type="text/javascript"></script>
        <link href="http://api-maps.yandex.ru/1.1.21/_YMaps.css?v=1.1.21-20" rel="stylesheet">
        <script src="http://api-maps.yandex.ru/1.1.21/_YMaps.js?v=1.1.21-20" charset="utf-8" type="text/javascript"></script>
        <script src="http://api-maps.yandex.ru/1.1.21/xml/data.xml?v=3.177.04.18.1" charset="utf-8" type="text/javascript"></script>
        <script src="http://api-maps.yandex.ru/modules/1.1/pmap/_pmap.js?v=1.1-3.0" charset="utf-8" type="text/javascript"></script>

        <script type="text/javascript">
                  YMaps.jQuery(window).load(function () {
                      var map = new YMaps.Map(YMaps.jQuery("#map")[0]);
                      map.setCenter(new YMaps.GeoPoint(37.638108, 54.197542), 16, YMaps.MapType.MAP);
                      map.addControl(new YMaps.Zoom());
                      map.addControl(new YMaps.ToolBar());
                      YMaps.MapType.PMAP.getName = function () {
                          return "Народная";
                      };
                      map.addControl(new YMaps.TypeControl([
                          YMaps.MapType.MAP,
                          YMaps.MapType.SATELLITE,
                          YMaps.MapType.HYBRID,
                          YMaps.MapType.PMAP
                      ], [0, 1, 2, 3]));
                      YMaps.Styles.add("constructor#pmgnlPlacemark", {
                          iconStyle: {
                              href: "http://api-maps.yandex.ru/i/0.3/placemarks/pmgnl.png",
                              size: new YMaps.Point(36, 41),
                              offset: new YMaps.Point(-13, -40)
                          }
                      });
                      YMaps.Styles.add("constructor#FF3732885Polyline", {
                          lineStyle: {
                              strokeColor: "FF373288",
                              strokeWidth: 5
                          }
                      });
                      YMaps.Styles.add("constructor#006CFF885Polyline", {
                          lineStyle: {
                              strokeColor: "006CFF88",
                              strokeWidth: 5
                          }
                      });
                      map.addOverlay(createObject("Placemark", new YMaps.GeoPoint(37.638108, 54.197542), "constructor#pmgnlPlacemark", "ГОДЗИЛА - квадро - мото клуб"));
                      function createObject(type, point, style, description) {
                          var allowObjects = ["Placemark", "Polyline", "Polygon"],
                                  index = YMaps.jQuery.inArray(type, allowObjects),
                                  constructor = allowObjects[(index == -1) ? 0 : index];
                          description = description || "";
                          var object = new YMaps[constructor](point, {style: style, hasBalloon: !!description});
                          object.description = description;
                          return object;
                      }
                  });
        </script>
        <div id="map" class="YMaps YMaps-cursor-grab" style="width: 530px; height: 300px;"></div>
    </div>
</div>

{#        {% block moveform %}#}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            {{ form.user_name }}#}
{#            {{ form.message_body }}#}
{#            {{ form.user_email }}#}
{#            {{ form.user_phone }}#}
{#            <button type="submit">Отправить</button>#}
{#        </form>#}
{#        {% endblock moveform %}#}

{% endblock content %}

{% block javascript %}
    {{ block.super }}
{% endblock javascript %}