{% extends "base.html" %}
{% load staticfiles %}

{% block styling %}
    {{ block.super }}
    <style>
        #root{
            background: none;
        }
    </style>
    <!-- Start WOWSlider.com HEAD section -->
    <link rel="stylesheet" href="{% static 'vendor/vowslider/style.css' %}" media="screen" />
    <!-- End WOWSlider.com HEAD section -->
{% endblock styling %}


{% block content %}
    <!-- Start WOWSlider.com BODY section id=wowslider-container1 -->
    <div id="wowslider-container1">
        <div class="ws_images"><ul>
            <li><img src="{% static 'img/slider/1.jpg'%}" alt="1" title="1" id="wows1_0"/></li>
        </ul></div>
        <div class="ws_bullets"><div>
            <a href="{% static 'img/slider/1.jpg' %}" title="1">1</a>
            <a href="{% static 'img/slider/2.jpg' %}" title="2">2</a>
            <a href="{% static 'img/slider/3.jpg' %}" title="3">3</a>
        </div></div>
        <span class="wsl"><a href="http://wowslider.net">slider jquery</a> by WOWSlider.com v5.5m</span>
        <a href="#" class="ws_frame"></a>
        <div class="ws_shadow"></div>
    </div>
    <script src="{% static 'vendor/vowslider/wowslider.js' %}"></script>
    <script src="{% static 'vendor/vowslider/script.js' %}"></script>
    <!-- End WOWSlider.com BODY section -->
{% endblock content %}